<mat-card>
  <form [formGroup]="form" (submit)="onSaveNewDonation()">

    <mat-form-field>
      <mat-label>Select donation place</mat-label>
      <mat-select formControlName="donationPlace_id_fk" required >
        <ng-container *ngFor="let place of donationPlaceElements">
          <mat-option *ngIf="place.active"  [value]="place">{{place.name}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="donor_taj_code"
        placeholder="Donor taj code"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="9"
      />
      <mat-error *ngIf="form.get('donor_taj_code').invalid"
        >Please enter the donor taj code waht is recorded in the donor database</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="date"
        formControlName="donation_date"
        placeholder="The doantion date"
      />
      <mat-error *ngIf="form.get('donation_date').invalid"
        >Please enter the donation date
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select doctor</mat-label>
      <mat-select formControlName="doctor_id_fk" required>
        <mat-option *ngFor="let doctor of doctorElements" [value]="doctor">{{doctor.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Success donation</mat-label>
      <mat-select formControlName="success_donation" required>
        <mat-option [value]="true">Yes</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [ngClass]="!form.get('success_donation').value && form.get('success_donation').value != null ? '':'invisible'">
      <textarea
        matInput
        rows="6"
        formControlName="about"
        placeholder="About"
      ></textarea>
      <mat-error *ngIf="form.get('about').invalid"
        >Please enter the about (minimum 5 character)
      </mat-error>
    </mat-form-field>

    <mat-form-field [ngClass]="form.get('success_donation').value ? '':'invisible'">
      <mat-label>Directed donation</mat-label>
      <mat-select formControlName="directed_donation" required>
        <mat-option [value]="true">Yes</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field  [ngClass]="form.get('directed_donation').value == true && form.get('success_donation').value ? '':'invisible'">
      <input
        matInput
        type="text"
        formControlName="directed_name"
        placeholder="Enter the directed name"
      />
      <mat-error *ngIf="form.get('directed_name').invalid"
        >Please enter a valid directed name (minimum 4 character) </mat-error
      >
    </mat-form-field>

    <mat-form-field [ngClass]="form.get('directed_donation').value == true && form.get('success_donation').value  ? '':'invisible'">
      <input
        matInput
        type="text"
        formControlName="directed_taj_code"
        placeholder="Enter the directed taj code"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="9"
      />
      <mat-error *ngIf="form.get('directed_taj_code').invalid"
        >Please enter a valid directed taj code</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">
      Save Donation
    </button>

  </form>
</mat-card>
